{% extends "boostrap_layout.html" %}
{% set active_page = "about" %}

{% block content %}

    <h1>About Me</h1>

    <p>This app allows users to convert any amount of one currency into the correct amount in a different currency. The conversion rates are based on real-time currency rate data for over 150 different currencies. The options page has the full list of currencies and their respective symbols. The currency form page allows users to input the currency they want converted as well as what currency they want it converted into and the amount they want converted. </p>

{% endblock %}